
/* BEGIN EXTERNAL SOURCE */
td {
width: 160px;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
p {
padding: 10px 0;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
table {
border: 1px solid lightgrey;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
border: 1px solid black;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
div {
padding: 25px 0;
}
/* END EXTERNAL SOURCE */
